In [ ]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv("../dataset/Dataset_Ads.csv")
df.head()

df.shape

(10000, 11)

The dataset contains approximately 10,000 records, providing sufficient scale for meaningful exploratory analysis while remaining manageable for in-memory processing.

In [6]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              10000 non-null  int64
 1   Gender           10000 non-null  str
 2   Income           10000 non-null  float64
 3   Location         10000 non-null  str
 4   Ad Type          10000 non-null  str
 5   Ad Topic         10000 non-null  str
 6   Ad Placement     10000 non-null  str
 7   Clicks           10000 non-null  int64
 8   Click Time       10000 non-null  str
 9   Conversion Rate  10000 non-null  float64
 10  CTR              10000 non-null  float64
dtypes: float64(3), int64(2), str(6)
memory usage: 859.5 KB

In [7]:
df.isna().sum()

Age                0
Gender             0
Income             0
Location           0
Ad Type            0
Ad Topic           0
Ad Placement       0
Clicks             0
Click Time         0
Conversion Rate    0
CTR                0
dtype: int64

No significant missing values were observed across key analytical columns.  
The dataset did not require imputation at this stage.

In [8]:
df.duplicated().sum()

np.int64(0)

No duplicate records were found in the dataset.

In [9]:
df.describe()

,Age,Income,Clicks,Conversion Rate,CTR
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,34.235200,50080.040922,5.030600,0.202246,0.050425
std,14.790752,19935.832667,2.258046,0.121094,0.019821
min,-21.000000,-38932.640000,0.000000,0.001000,0.000000
25%,24.000000,36892.040000,3.000000,0.109500,0.037100
50%,34.000000,50122.520000,5.000000,0.180650,0.050300
75%,44.000000,63271.342500,6.000000,0.275100,0.063700
max,92.000000,126635.800000,17.000000,0.731700,0.127200

Basic descriptive statistics indicate that key metrics fall within expected logical ranges.

In [10]:
df[
    (df["CTR"] < 0) | (df["CTR"] > 1) |
    (df["Conversion Rate"] < 0) | (df["Conversion Rate"] > 1)
].shape

(0, 11)

CTR and Conversion Rate values fall within valid bounds, and no inconsistencies were observed between engagement and conversion metrics.
### Notebook Summary

- Dataset successfully loaded and validated
- No critical missing values or duplicate records detected
- Key performance metrics are logically consistent
- Data is clean and ready for feature engineering and exploratory analysis